/* static/css/style.css */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff6347;
}

ul {
    list-style-type: none;
    padding: 0;
    list-style-type: none;
}

li {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* static/css/style.css */
/* li img {
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
} */ 
